<%= render 'layouts/flash_message' %>
<h1>Вход</h1>

<%= form_for(:session, url: login_path) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, value:  @saved_email%>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions ajax-load">
    <%= form.submit 'Вход' %>
  </div>
<% end %>


