<!DOCTYPE html>
<html>
  <head>
    <title>LuckyInv</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <%= link_to "Invoices", root_path %>
    <%= link_to "Customers", customers_path %>
    <%if logged_in? and admin? %>
      <%= link_to "Users", users_path %>
    <% end %>
    <%= link_to "Log out", logout_path, method: :delete  %>
    <%= current_user.name if current_user %>
  <% else %>
    <%= link_to "Log in", login_path %>
  <% end %>

    <%= yield %>
  </body>
</html>
